.csl-entry {
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: 4px solid #fff;
  
  
  }
  
  
  .csl-left-margin {
    display: inline-block;
    margin-right: 0.5em;
  }x
  
  .csl-right-inline {
    display: inline;
  }